---
import BaseHead from '../components/UI/header/BaseHead.astro';
import Header from '../components/UI/header/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
// sections
import HeroIndex from '../sections/HeroIndex.astro';
import Data from '@/sections/Data.astro';
import Services from '@/sections/Services.astro';
import LastProject from '@/sections/LastProject.astro';
import BlogRecents from '@/sections/BlogRecents.astro';
import Background from '@/components/UI/Background.astro';
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<!-- Google analitics -->
		<!-- Google tag (gtag.js) -->
		<script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-BNS433B5FV"></script>
		<script is:inline>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		  gtag('config', 'G-BNS433B5FV');
		</script>
	</head>
	<body class="container-custom">
		<Background />
		<Header />
		<main>
			<HeroIndex />
			<Data />
			<Services />
			<LastProject />
			<BlogRecents />
		</main>
		<Footer />
	</body>
</html>
