---
import HeaderLink from './UI/header/HeaderLink.astro';

const today = new Date();
---

<footer class="text-center sm:text-left bg-neutral-800 text-neutral-50 rounded-t-md flex flex-wrap gap-4 justify-evenly py-10 mt-5">
	<section>
		<h4 class="text-title-4 leading-none">Ganex</h4>
		<p class="text-body-base mt-2">{today.getFullYear()}</p>
	</section>
	<section class="space-y-4">
		<h5 class="text-title-1">Páginas</h5>
		<nav class="flex flex-col gap-2 text-body-base">
			<HeaderLink href="/">Inicio</HeaderLink>
			<HeaderLink href="/blog">blog</HeaderLink>
			<HeaderLink href="/proyectos">proyectos</HeaderLink>
		</nav>
	</section>
	<section class="space-y-4">
		<h5 class="text-title-1">Síguenos</h5>
		<nav class="flex flex-col gap-2 text-body-base">
			<HeaderLink href="https://www.facebook.com/profile.php?id=61557640082018" target="_blank">Facebook</HeaderLink>
			<HeaderLink href="https://www.instagram.com/ganexbo/" target="_blank">Instagram</HeaderLink>
		</nav>
	</section>
	<section class="space-y-4 hidden sm:block">
		<h5 class="text-title-1">Contáctanos</h5>
		<nav class="flex flex-col gap-2 text-body-base">
			<HeaderLink href="https://api.whatsapp.com/send?phone=59177374005&text=Hola%2C%20Ganex%2C%0AQuiero%20un%20sitio%20web%20para%20mejorar%20mi%20presencia%20online.%0A%C2%BFC%C3%B3mo%20puedo%20hacerlo%3F" target="_blank">+591 77374005</HeaderLink>
			<HeaderLink href="oficial@ganextunegocioenlaweb.com">info@ganextunegocioenlaweb.com</HeaderLink>
		</nav>
	</section>
</footer>