---
---

<section class="section-custom space-y-5 relative">
    <h1 class="font-bold text-5xl sm:text-6xl md:text-7xl lg:text-8xl">Blog <span class="text-orange-500">Post</span></h1>
    <h3 class="text-title-1">Nuestra brillantez colectiva, tu fuente de inspiración</h3>
    <p class="text-body-base max-w-lg">Sumérgete en las tendencias de diseño, las estrategias de marketing y los conocimientos de la industria. Nuestro blog es su fuente de inspiración y lo último en arte digital, seleccionado por nuestro equipo de expertos.</p>
</section>