---
import BtnCta from "../components/BtnCta.astro";

---

<section class="section-custom space-y-5 relative">
    <h1 class="font-bold text-5xl sm:text-6xl md:text-7xl lg:text-8xl">Crece Digitalmente</h1>
    <h3 class="text-title-1">Clientes <span class="text-orange-500">Buscan</span>, Te <span class="text-orange-500">Encuentran</span>, Te <span class="text-orange-500">Contactan</span>, <span class="text-orange-500">Vendes</span>.</h3>
    <p class="text-body-base max-w-lg">Bienvenido a Ganex, donde <span class="text-orange-500">potenciamos</span> tu imagen digital y convertimos <span class="text-orange-500">visitantes en clientes</span> con un diseño web <span class="text-orange-500">impactante y eficaz.</span></p>
    <div class="flex flex-wrap gap-5">
        <BtnCta href="https://api.whatsapp.com/send?phone=59177374005&text=Hola%2C%20Ganex%2C%0AQuiero%20un%20sitio%20web%20para%20mejorar%20mi%20presencia%20online.%0A%C2%BFC%C3%B3mo%20puedo%20hacerlo%3F" target="_blank">Cotizar Proyecto Gratis</BtnCta>
        <BtnCta href="#services" btn="btn-cta-black">Ver Servicios</BtnCta>
        <a href="/blog" class="inline-block sm:hidden leading-none px-8 py-4 rounded-md bg-neutral-800 text-neutral-50 font-semibold hover:scale-110 transition-all">Ver Blog</a>
    </div>
</section>