---
import megaloblastos from '@/assets/project/megaloblastos.png';
import imprentakarins from '@/assets/project/imprentakarins.png';
import { Image } from 'astro:assets';

---

<section class="section-custom">
    <h2 class="text-title-4 text-center mb-5">Nuestro último proyecto</h2>
    <a href="https://megaloblastos.com/" target="_blank" class="grid place-items-center w-full py-14 shadow-md group bg-white hover:bg-black/5 transition-all rounded-md overflow-hidden">
        <Image
            class="w-52 h-40 object-cover group-hover:scale-110 transition-all"
            src={imprentakarins}
            alt="Megaloblastos"
            format="avif"
            width={1020}
            height={510}
            quality={100}
        />
    </a>
</section>