---
import HeaderLink from '@/components/UI/header/HeaderLink.astro';
import BtnCta from '@/components/BtnCta.astro';
---

<header>
	<nav class="flex justify-between items-center pb-5 pt-10">
		<h2 class="font-bold text-4xl leading-none hover:underline"><a data-astro-reload class="leading-none" href="/">Ganex</a></h2>
		<div class="hidden md:block space-x-4">
			<HeaderLink href="/">Inicio</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
		</div>
		<BtnCta href="https://api.whatsapp.com/send?phone=59177374005&text=Hola%2C%20Ganex%2C%0AQuiero%20un%20sitio%20web%20para%20mejorar%20mi%20presencia%20online.%0A%C2%BFC%C3%B3mo%20puedo%20hacerlo%3F" btn="btn-cta-black" target="_blank">Cotizar Proyecto</BtnCta>
	</nav>
</header>